* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bege: #F3EFE9;
  --verde: #78825B;
  --rosa: #B57A77;
  --texto: #3a3a3a;
  --sombra: 0 2px 12px rgba(0,0,0,0.08);
}

body {
  background-color: var(--bege);
  color: var(--texto);
  font-family: 'Segoe UI', sans-serif;
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; border: none; outline: none; }